$font-weight: bold;

.component {
    font-weight: $font-weight;
}

.nestingExample {
    text-align: center;

    h1 {
        margin: 5px;
        border: 1px black;
        border-bottom-style: dashed;
    }
}

%bulletpoint {
    font-size: 18px;
    margin: 4px;
    border: 1px dotted black;
    padding: 3px;
}

.positiveResistor {
    @extend %bulletpoint;
    background-color: lightgreen;
}

.negativeResistor {
    @extend %bulletpoint;
    background-color: lightcoral;
}